<script setup>
    import { onMounted, ref } from 'vue';
    import axios from 'axios';
    import { useUserStore } from '@/services/userstore';
const { user} = useUserStore();
    const tokenSaved = ref("");
    
</script>
<template>
    <h1>Mon compte</h1>
    <p v-if="user">Email : {{user.email}}</p>
    <p v-if="user">Nom : {{user.username}}</p>
    <p>{{user}}</p>
</template>
<style scoped>
</style>