<script setup>
    import { ref, onMounted } from 'vue';
    import { useUserStore } from '@/services/userstore';
    const { getUserTodo,setUserTodo} = useUserStore();
    const title = ref('Hello todo !');
    const todos = ref([])
    const description = ref('');
        onMounted(async () => {
   const todosFetched = await getUserTodo();
    console.log(todosFetched)
    todos.value = todosFetched

})
 async function todoForm(){
     if(!description.value)return 
     
     const blanckTodo = {
         description : description.value,
         faite: false
     }
     const response = await setUserTodo(blanckTodo)
     console.log(response)
     if(response){
         description.value = ""
     }
 }
    
</script>
<template>
<div>
    <h1>{{title}}</h1>
     <form @submit.prevent="todoForm()">
        <div class="form-group mb-3">
            <label for="description">todo</label>
            <input type="text" v-model="description" class="form-control" id="description" placeholder="Enter description">
        </div>
        <button type="submit" class="btn btn-success">create todo</button>
    </form>

        <ul>
        <li v-for="todo in todos" :key="todo.id"  >
            <p>{{todo.description}}</p>
        </li>
    </ul>
</div>
</template>