<script setup>
  import { ref,onMounted } from 'vue';
import Header from './components/Header.vue';
import { useUserStore } from './services/userstore';
    onMounted(async () => {
   const {autoConnect} = useUserStore();
    await autoConnect();
})
 
    
</script>

<template>
    <Header></Header>
    <RouterView/>
</template>

<style>
@import "bootstrap/dist/css/bootstrap.min.css";
</style>
